.notfound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.notfound h1{
    font-size: 10rem;
    font-family: 'Victor Mono';
    filter: drop-shadow(0 0 0.75rem var(--secundaryColor));
}


.notfound a{
    font-size: 5rem;
    font-family: 'Victor Mono';
    filter: drop-shadow(0 0 0.75rem var(--secundaryColor));
}

