.item{
    display: flex;
    width: 100%;
    background: var(--primaryColor);
    border-radius: 1rem;   
    filter: drop-shadow(0 0 0.75rem var(--primaryColor));    
}

.item img{
    width: 200px;
    border-radius: 1rem 0 0 1rem;    
}

.item .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    padding: 1rem;
    background: var(--primaryColor);
    color:#fff;
    font-family: 'Victor Mono';    
    border-radius: 0 1rem 1rem 0; 
}