.brand {
  display: flex;
  align-items: center;
  font-weight: 800;
  color: #fff;
  gap: 1rem;
  font-size: 3rem;
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem var(--terciaryColor));
}

.brand .logo {
  display: none;
}

@media screen and (max-width: 780px) {
  .brand .title {
    display: none;
  }

  .brand .logo {
    display: block;
  }
}
