.balances {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.balances .balance-cards {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;

}


.balances .balance-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--primaryColor);
  width: 20rem;
  height: 10rem;
  color: #fff;
  font-size: 2rem;
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.75rem var(--primaryColor));
}

.balances .balance-detalle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.balance-detalle .venta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.venta .productos {
    display: flex;
    flex-direction: column;    
    filter: drop-shadow(0 0 0.75rem var(--primaryColor));
    border-radius: 1rem;
}

.venta .producto,
.venta .header,
.venta .footer
{
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px #01c38d3d solid;
  gap: 2rem;
  color:#fff;
  padding: 1rem;  
  background-color: var(--primaryColor);
}

.venta .header {
  font-size: 1.5rem;
  border-radius: 1rem 1rem 0 0;
  font-weight: 700;
  color:var(--terciaryColor);
}

.venta .footer{
    font-size: 1.5rem;
    border-radius: 0 0 1rem 1rem;
    font-weight: 700;
    color:var(--terciaryColor);
}

.venta .producto {
    font-size: 1.2rem;
  }
