.balances {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.balances h1{
  padding: 2rem;
}

.balances .balance-cards {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.balances .balance-detalle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  .balances .balance-cards {
    flex-direction: column;
  }
}
