#cart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 3rem;
  grid-gap: 2rem;
}

#cart .items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#cart .total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primaryColor);
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.75rem var(--primaryColor));
  min-height: 300px;
  cursor: pointer;
}

#cart .total:hover{
    transform: scale(1.01);
} 

.total h1 {
    color: #fff;
    font-size: 5rem;
    filter: drop-shadow(0 0 0.75rem var(--terciaryColor));
  }

.total strong {
  color: #fff;
  font-size: 5rem;
  filter: drop-shadow(0 0 0.75rem var(--terciaryColor));
}

@media screen and (max-width: 1200px) {
  #cart {
    grid-template-columns: 1fr;
  }
}
