.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 1rem;
}

.navbar button {
	color: #fff;
	text-decoration: none;
	font-size: 1.8rem;
	filter: drop-shadow(0 0 0.75rem var(--terciaryColor));
	cursor: pointer;
}

.navbar button:hover {
	filter: none;
}
