.userProfile{
    display: flex;
    align-items:center;
    gap:2rem;
}

.userProfile img{
    width: 5rem;
    height: 5rem;
    object-fit:cover;
    border-radius: 50%;
    border:3px var(--terciaryColor) solid;    
    filter: drop-shadow(0 0 0.75rem var(--terciaryColor));
    cursor: pointer;
}

.userProfile .cart{
    width: 3rem;
    height: 3rem;
    object-fit:cover;  
    border:none;            
    cursor: pointer;
}

.userProfile .info{
    color:#fff;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    filter: drop-shadow(0 0 0.75rem var(--terciaryColor));
}


@media screen and (max-width: 780px) { 
    
    .userProfile .info{
        display: none;
    }
}